{$TROMINAL_SITE_ADDRESS::80} {
	encode zstd gzip
	root * /srv/trominal/public

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	handle /ws/* {
		reverse_proxy ssh-proxy:8080
	}

	handle {
		php_fastcgi app:9000
		file_server
	}
}
